{% extends 'base.html' %}

{% block title %}
    <title>Входящие</title>
{% endblock %}

{% block body %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-1 d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px; height: 100vh">
                <form method="POST">
                    <input class="w-100 btn btn-lg btn-primary" type="submit" name="sendNew" value="Написать письмо"
                           id="sendNew"/>
                    <p></p>
                    <input class="w-100 btn btn-lg btn-primary" type="submit" name="updateBD" value="Обновить БД"
                           id="updatebd"/>
                </form>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    {% block mailBoxes %}
                    {% endblock %}
                </ul>
                <hr>

                <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <strong>{{ email_address }}</strong>
                </a>
                <ul class="dropdown-menu text-small shadow">
                    <li><a class="dropdown-item" href="#">Выйти</a></li>
                </ul>

            </div>

            <div class="col-3" style="height: 100vh">
                <div class="list-group list-group-flush border-bottom" style="overflow-y: scroll; height: 100vh">
                    {% block mail_list %}
                    {% endblock %}
                </div>
            </div>

            <div class="col container">
                <main class="w-100 position-relative top-0 start-50 translate-middle-x" style="overflow-y: scroll; height: 100vh">
                    <p class="h5 mb-3 fw-normal">Кому: {{ cur_mail.receiver }}</p>
                    <p class="h5 mb-3 fw-normal">От кого: {{ cur_mail.sender }}</p>
                    <p class="h5 mb-3 fw-normal">Тема: {{ cur_mail.subject }}</p>
                    <p class="h5 mb-3 fw-normal">{{ cur_mail.body|safe }}</p>

                </main>
            </div>
        </div>
    </div>

{% endblock %}