{% extends "base.html" %}

{% block title %}
    <title>Отправка письма</title>
{% endblock %}

{% block bodyclass %}
    class="text-center h-100"
{% endblock %}

{% block body %}
    <main class="w-75 position-absolute top-0 start-50 translate-middle-x">
        <form class="" method="POST">
            <h1 class="h3 mb-3 fw-normal">Новое письмо</h1>
            <p class="h5 mb-3 fw-normal">От кого: {{ sender }}</p>
            <div class="form-floating">
                <input type="email" required class="form-control" id="validationDefaultEmail" name="sendTo" placeholder="name@example.com">
                <label for="validationDefaultEmail">Кому</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="InputSubject" name="letterSubject" placeholder="My New Letter">
                <label for="InputSubject">Тема</label>
            </div>
            <div class="input-group">
                <textarea class="form-control" id="InputBody" aria-label="With textarea" name="letterText" style="height: 60vh"></textarea>
            </div>
{#            <div class="input-group mb-3">#}
{#                <label class="input-group-text" for="inputGroupFile01">Прикрепить файлы</label>#}
{#                <input type="file" class="form-control" id="inputGroupFile01" name="letterAttach">#}
{#            </div>#}
            <input class="w-100 btn btn-lg btn-primary" type="submit" name="submitSend" value="Отправить">
        </form>
    </main>
{% endblock %}